* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh; /* Ocupa 100% da altura da tela */
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family:
    "DM Sans",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  background-color: #f9f9f9;
}

.screen {
  height: 100vh; /* Garante que a tela ocupe toda a altura */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 80px 32px 32px;
  overflow: hidden;
}


.container {
  display: flex;
  gap: 20px;
  height: 100%; /* Garante que ocupe toda a altura disponível */
}

.promo-column, .login-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* Ocupa toda a altura da tela */
  width: 50%;
}


.promo-animation {
  border-radius: 24px;
  height: 100vh;
  box-shadow: 0px 34px 10px rgba(83, 83, 116, 0);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  background: linear-gradient(60deg, #6191F9, #2D54DF);
}

.promo-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 48px;
  font-weight: 500;
  text-align: center;
  flex: 9; 
}

.animation {
  flex: 8; /* 70% da altura da .promo-content */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.slide {
  height: 400px;
}

.promo-title {
  flex: 1; /* 10% */
  color: #fff;
  font-size: 28px;
  align-self: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-description {
  flex: 1; /* 10% */
  color: #e0e5f2;
  font-size: 20px;
  margin-top: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-indicator {
  flex: 1; /* 10% da altura do container */
  align-self: center;
  display: flex;
  margin-top: 25px;
  align-items: center;
  gap: 4px;
  justify-content: start;
}

.indicator-dot {
  border-radius: 100px;
  background-color: rgba(159, 175, 231, 1);
  align-self: stretch;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}

.indicator-dot.active {
  background-color: rgba(255, 255, 255, 1);
  width: 24px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
  margin: auto;
  width: 60%;
}

.login-title {
  color: #161d44;
  font-size: 32px;
  font-weight: 500;
  align-self: start;
}

.login-form-group {
  margin-top: 34px;
  width: 100%;
}

.login-form {
  width: 100%;
  font-size: 14px;
}

.form-field {
  width: 100%;
  margin-bottom: 21px;
}

.form-field:first-child {
  margin-bottom: 21px;
}

.field-label {
  align-self: stretch;
  flex: 1;
  width: 100%;
  gap: 10px;
  color: #0c112f;
  font-weight: 500;
  white-space: nowrap;
}

.input-container {
  margin-top: 11px;
  width: 100%;
  font-weight: 400;
}

.input-content {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(197, 203, 228, 1);
  display: flex;
  min-height: 48px;
  width: 100%;
  padding: 15px 16px;
  align-items: center;
  gap: 10px;
  justify-content: start;
}

.input-field {
  align-self: stretch;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  gap: 8px;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #8a8ea1;
  font-family:
    "DM Sans",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 14px;
}

.password-toggle {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  cursor: pointer;
}

.forgot-password {
  align-self: stretch;
  margin-top: 8px;
  width: 100%;
  gap: 8px;
  color: rgba(45, 84, 223, 1);
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: right;
}

.login-button {
  align-self: stretch;
  border-radius: 10000px;
  background-color: rgba(45, 84, 223, 1);
  margin-top: 52px;
  min-height: 40px;
  width: 100%;
  padding: 10px 16px;
  gap: 8px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family:
    "DM Sans",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}

/* Responsive Styles */
@media (max-width: 991px) {
  .screen {
    padding: 20px;
  }

  .container {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .promo-column {
    width: 100%;
  }

  .promo-animation {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promo-content {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .promo-title {
    max-width: 100%;
  }

  .promo-description {
    max-width: 100%;
  }

  .login-column {
    width: 100%;
    margin-left: 0;
  }

  .login-container {
    max-width: 100%;
    margin-top: 40px;
  }

  .login-form-group {
    max-width: 100%;
  }

  .login-form {
    max-width: 100%;
  }

  .form-field {
    max-width: 100%;
  }

  .field-label {
    max-width: 100%;
    white-space: initial;
  }

  .input-container {
    max-width: 100%;
  }

  .input-content {
    max-width: 100%;
  }

  .forgot-password {
    max-width: 100%;
  }

  .login-button {
    max-width: 100%;
    margin-top: 40px;
  }
}

.logo-evalia {
  height: 15%;
  margin-bottom: 24px;
}
