* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Evita rolagem */
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 1);
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda a altura da tela */
}

/* Header styles */
.header {
  border-bottom: 1px solid #c5cbe4;
  display: flex;
  height: 68px;
  width: 100%;
  padding: 25px 32px;
  align-items: center;
  font-size: 14px;
  color: #8a8ea1;
  font-weight: 400;
  justify-content: space-between;
}

.breadcrumb {
  display: flex;
  min-width: 240px;
  margin: auto 0;
  align-items: center;
  gap: 7px;
}

.breadcrumb-item {
  align-self: stretch;
  margin: auto 0;
  color: #8a8ea1;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}


.breadcrumb-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin: auto 0;
  filter: invert(64%) sepia(5%) saturate(180%) hue-rotate(200deg);
}


.breadcrumb-current {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 7px;
  color: #161d44;
  font-weight: 500;
  justify-content: start;
}

.breadcrumb-item-current {
  align-self: stretch;
  margin: auto 0;
}

.breadcrumb-text {
  margin: auto 0;
}

.breadcrumb-item.active {
  color: #161d44;
  font-weight: 500;
}

/* Main content layout */
.main-content {
  width: 100%;
  height: 100vh; /* Para garantir que o layout geral ocupa a tela */
}

.content-wrapper {
  display: flex;
  gap: 0px;
  height: 100%; /* Garante que o content-wrapper ocupe toda a altura */
}


/* Assessment column */
.assessment-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 40px;
  height: 100%;
}

.assessment-content {
  display: flex;
  width: 100%;
  height: 565px;
  padding: 0 0px 0 32px;
  flex-direction: column;
}

.results-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  filter: invert(35%) sepia(99%) saturate(338%) hue-rotate(66deg) brightness(92%) contrast(89%);
}

.results-header {
  margin-top: 32px;
  text-align: center;
  color: #1b2559;
}

.results-title {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.results-description {
  font-size: 24px;
  margin-top: 16px;
  font-weight: 500;
}

.app-preview {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.preview-image {
  width: 580px;
  max-width: 100%;
  object-fit: contain;
}

.app-card {
  padding: 4px;
  border-radius: 20px;
  border: 1px solid #f9f9f9;
  box-shadow:
    0 0 1px rgba(12, 26, 75, 0.24),
    0 3px 8px -1px rgba(50, 50, 71, 0.05);
  background-color: #f9f9f9;
  height: 180px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.app-icon-wrapper {
  margin-top: 16px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 14px;
  box-shadow: 0 0 1px rgba(12, 26, 75, 0.24);
  overflow: hidden;
}

.app-icon-bg,
.app-icon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-name {
  margin-top: 16px;
  font-size: 18px;
  color: #161d44;
  font-weight: 500;
}

/* Action buttons */
.action-buttons {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center; /* Centraliza os botões verticalmente */
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .action-buttons {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button {
  align-self: stretch;
  border-radius: 10000px;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: 0;
  min-height: 40px;
  padding: 18px 16px;
  gap: 8px;
  width: 300px;
  cursor: pointer;
  border: none;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.button-outline {
  background-color: rgba(249, 249, 249, 1);
  border: 2px solid #2D54DF;
  color: #2d54df;
}

.button-primary {
  background-color: #2D54DF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.button-text {
  margin-top: auto;
  margin-bottom: auto;
}

.button-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}



.details-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 90vh;
  background-color: #fefeff;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}


.assessment-card {
  border-radius: 20px;
  border: 1px solid #f9f9f9;
  box-shadow:
    0 0 1px rgba(12, 26, 75, 0.24),
    0 3px 8px -1px rgba(50, 50, 71, 0.05);
  background-color: white;
  padding-top: 16px;
  width: 80%;
  height: 90%;
  align-items: center;
  justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.details-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10000px;
  padding: 10px 16px;
  margin-left: auto;
  margin-right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: #2d54df;
  font-size: 16px;
  font-weight: 500;
}

.details-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.progress-circle-container {
  margin-top: 20px;
  width: 269px;
  aspect-ratio: 1;
  margin-left: 70px;
}

.progress-circle-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assessment-metrics {
  width: 80%;
  margin-top: 43px;
  margin-left:0 8 16px 8px;
  list-style: none;
}

.metric-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 16px 0;
}

.metric-header {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #161d44;
}

.metric-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.metric-indicator.medical {
  background-color: #004f92;
}
.metric-indicator.functionality {
  background-color: #51a629;
}
.metric-indicator.usability {
  background-color: #fea500;
}
.metric-indicator.interface {
  background-color: #8929a9;
}

.metric-value {
  color: #0c112f;
}

.metric-divider {
  height: 1px;
  background-color: #dadee1;
  margin: 16px 0;
}

@media (max-width: 991px) {
  .assessment-screen {
    padding-bottom: 100px;
  }

  .main-header {
    padding: 16px 20px;
  }

  .content-container {
    margin-top: 40px;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .results-column,
  .details-column {
    width: 100%;
  }

  .details-column {
    margin-top: 40px;
  }

  .action-buttons {
    padding: 0 20px;
    margin-top: 40px;
  }

  .progress-circle-container {
    margin-left: 20px;
  }

  .assessment-metrics {
    padding: 0 20px 20px;
  }
}

/*grafico*/
.grafico {
    display: block;
    margin: auto;
     width: 400px;
    height: 400px;
}
.text {
    font-size: 24px;
    fill: #1b2559;
    font-weight: bold;
    text-anchor: middle;
}

/*MODAL*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
     font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}

.modal-content {
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Estilo dos textos */
.modal-content h2 {
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 20px;
    color: #1A1A1A;
    margin-bottom: 8px;
}

.modal-content p {
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}

/* Container dos botões */
.modal-buttons {
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    display: flex;
    gap: 12px;
    justify-content: center;
}

/* Modal Header (espaço para os quadrados e a seta) */
.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
     font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}

/* Quadrados azuis */
.square {
    width: 140px;
    height: 140px;
    border-radius: 8px;
}

.image{
  width: 100%;
  border-radius: 8px;
}



/* Ícone de seta com duas pontas */
.arrow-icon {
    width: 24px;
    height: 24px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/271/271226.png'); /* Exemplo de ícone de seta */
    background-size: contain;
    background-repeat: no-repeat;
}

.btn {
  align-self: stretch;
  border-radius: 10000px;
  min-width: 200px;
  margin-top: auto;
  margin-bottom: 0;
  min-height: 40px;
  padding: 8px 6px;
  gap: 8px;
  cursor: pointer;
  border: 2px solid #2D54DF;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* Ícone de sucesso na segunda modal */
.check-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.check-icon img {
    width: 40px;
    height: 40px;
}