* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Evita rolagem */
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 1);
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda a altura da tela */
}

/* Header styles */
.header {
  border-bottom: 1px solid #c5cbe4;
  display: flex;
  height: 68px;
  width: 100%;
  padding: 25px 32px;
  align-items: center;
  font-size: 14px;
  color: #8a8ea1;
  font-weight: 400;
  justify-content: space-between;
}

.breadcrumb {
  display: flex;
  min-width: 240px;
  margin: auto 0;
  align-items: center;
  gap: 7px;
}

.breadcrumb-item {
  align-self: stretch;
  margin: auto 0;
  color: #8a8ea1;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}


.breadcrumb-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin: auto 0;
  filter: invert(64%) sepia(5%) saturate(180%) hue-rotate(200deg);
}


.breadcrumb-current {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 7px;
  color: #161d44;
  font-weight: 500;
  justify-content: start;
}

.breadcrumb-item-current {
  align-self: stretch;
  margin: auto 0;
}

.breadcrumb-text {
  margin: auto 0;
}

.breadcrumb-item.active {
  color: #161d44;
  font-weight: 500;
}

/* Main content layout */
.main-content {
  width: 100%;
  height: 100vh; /* Para garantir que o layout geral ocupa a tela */
}

.content-wrapper {
  display: flex;
  gap: 0px;
  height: 100%; /* Garante que o content-wrapper ocupe toda a altura */
}


/* Assessment column */
.assessment-column {
  display: flex;
  flex-direction: column;
  width: 67%;
  margin-top: 24px;
  height: 100%;
}

.assessment-content {
  display: flex;
  width: 100%;
  height: 565px;
  padding: 0 0px 0 32px;
  flex-direction: column;
}

/* Stepper component */
.stepper {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: #161d44;
  font-weight: 500;
  flex-wrap: wrap;
}

.step {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  justify-content: start;
}

.step-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 22px;
  margin: auto 0;
  height: 20px;
}

.step-label {
  margin: auto 0;
}

.step-divider {
  border: 1px solid #637391;
  margin: auto 0;
  width: 88px;
  height: 1px;
}

.step-divider.completed {
  border-color: #161d44;
}

.step-circle {
  background-color: #f2f5fd;
  border: 1px dashed #637391;
  border-radius: 50%;
  display: flex;
  margin: auto 0;
  width: 20px;
  height: 20px;
}

.step.active {
  color: #161d44;
  font-weight: 500;
}

.step.pending {
  color: #637391;
  font-weight: 400;
}

/* Section titles */
.section-title {
  margin-top: 26px;
}

.title {
  color: #0c112f;
  font-size: 24px;
  font-weight: 500;
}

.subtitle {
  color: #637391;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

/* Selection options */
.selection-options {
  margin-top: 16px;
}

.selection-row {
  display: flex;
  gap: 20px;
}

.selection-column {
  flex: 1;
}

.search-container {
  margin-top: 16px;
  width: 100%; /* Faz com que a largura ocupe 100% do seu contêiner pai */
  max-width: 376px; /* Limita a largura máxima */
  font-size: 14px;
  color: #8a8ea1;
  font-weight: 400;
}

.search-field {
  width: 100%;
  position: relative;
}

.search-content {
  border-radius: 8px;
  background-color: #fefeff;
  border: 1px solid #c5cbe4;
  display: flex;
  height: 48px;
  width: 100%;
  padding: 14px 0 14px 16px;
  align-items: center;
  gap: 10px;
}

.search-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  margin: auto 0;
  flex-shrink: 0;
}

.search-input {
  align-self: stretch;
  min-width: 240px;
  margin: auto 0;
  gap: 8px;
  flex: 1;
  border: none;
  background: transparent;
  color: #8a8ea1;
  font-family: DM Sans, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
}

.suggestion-box {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #c5cbe4;
  border-radius: 8px;
  margin-top: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  display: none; /* Inicialmente escondido */
}

.suggestion-box li {
  padding: 10px 16px;
  cursor: pointer;
  list-style: none;
  font-size: 14px;
  color: #4a4a4a;
}

.suggestion-box li:hover {
  background-color: #f0f0f0;
}

/* Exibe as sugestões quando há input de texto */
.search-input:focus + .suggestion-box,
.search-input:not(:placeholder-shown) + .suggestion-box {
  display: block;
}


.search-button {
  height: 48px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; /* Evita quebra de texto */
  flex-shrink: 0; /* Evita que o botão diminua demais */
}

.search-btn {
  height: 48px;
  padding: 8px 16px;
  color: white;
  border: 1px solid #c5cbe4;
  color: #637391;
  font-weight: 500;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.search-btn:hover {
  border: 1px solid #2D54DF;
  color: #2D54DF;
}

/*Applications content*/
.applications-content {
  flex-grow: 1; /* Faz a div ocupar todo o espaço restante */
  overflow-y: auto; /* Habilita a rolagem vertical */
  margin-top: 0;
  padding: 0px 8px 0px 0px; /* Espaçamento interno */
  height: 380px; /* Ajuste conforme necessário */
  position: relative;
  background-color: rgba(249, 249, 249, 1); /* Garante que o fundo tenha cor */
}

/* App grid */
.app-grid {
  margin-top: 25px;
  width: 100%;
}

.app-grid-row {
  display: flex;
  gap: 20px;
}

.top-app-card {
  width: 32%;
}

.app-image-container {
  border-radius: 16px;
  box-shadow:
    0px 0px 1px 0px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.app-image {
  aspect-ratio: 2.16;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.app-info {
  display: flex;
  margin-top: 8px;
  width: 100%;
  align-items: flex-start;
  gap: 8px;
  font-weight: 500;
}

.app-rank {
  border-radius: 10000px;
  background-color: #dfe5fd;
  min-height: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #1b2559;
  text-transform: uppercase;
}

.app-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.app-name {
  color: #0c112f;
  font-size: 14px;
  font-weight: 500;
}

.app-category {
  color: #47548c;
  font-weight: 400;
}

.app-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #637391;
}

.rating-value {
  margin: auto 0;
}

.rating-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
}

/* App list */
.app-list {
  margin-top: 16px;
  width: 100%;
  font-weight: 500;
}

.app-list-row {
  display: flex;
  min-height: 72px;
  width: 100%;
  padding: 8px 0;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.app-list-item {
  display: flex;
  min-width: 240px;
  margin: auto 0;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.app-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 56px;
  box-shadow:
    0px 0px 1px 0px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  margin: auto 0;
  flex-shrink: 0;
}


/* Navigation buttons */
.navigation-buttons {
  border-top: 1px solid #c5cbe4;
  display: flex;
  width: 100%;
  height: 60hv;
  padding: 16px 32px;
  align-items: center;
  gap: 100px;
  font-weight: 500;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  bottom: 0;
  background-color: rgba(249, 249, 249, 1);
}


.btn {
  border-radius: 10000px;
  display: flex;
  height: 40px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.btn-outline {
  border: 2px solid #2D54DF;
  color: #2D54DF;
  background-color: transparent;
}

.btn-disabled {
  background-color: #c5cbe4;
  border: 1px solid #c5cbe4;
  color: #fff;
  cursor: not-allowed;
}

.btn-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
}

.next.active {
  background-color: #2d54df;
  cursor: pointer;
  border: 2px solid #2d54df;
  color: #fff;
}


/* Patient sidebar */
.patient-sidebar {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 90vh;
  background-color: #fefeff;
}

.patient-profile {
  border-left: 1px solid #c5cbe4;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.patient-header {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 24px;
  color: #0c112f;
  font-weight: 500;
  gap: 16px;
  padding: 24px 40px 0px 40px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
.patient-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.patient-name {
  margin-top: 0;
  text-align: center;
  font-size: 24px;
}

.details-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 24px 56px 24px 40px;
  text-align: center;
  background: white;
  position: sticky;
  top: 100px;
  z-index: 2;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #161d44;
  margin-bottom: 8px;
}


.detail-item:last-child {
  margin-bottom: 0;
}

.detail-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
}

.detail-content {
  display: flex;
  min-width: 240px;
  margin: auto 0;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.detail-label {
  font-weight: 500;
}

.detail-value {
  font-weight: 400;
}

.patient-details {
  display: flex;
  width: 100%;
  padding: 0 40px;
  flex-direction: column;
  border-left: 1px solid #c5cbe4;
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}


/* Medication section */
.medication-section {
  width: 100%;
  font-weight: 500;
}

.section-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.applications-header {
  display: collum;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.section-title {
  font-size: 18px;
  color: #0c112f;
}

.view-details-btn {
  border-radius: 10000px;
  min-height: 40px;
  padding: 10px 16px;
  font-size: 16px;
  color: #2d54df;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

.medication-list {
  display: flex;
  margin-top: 8px;
  width: 100%;
  gap: 16px;
}

.medication-card {
  border-radius: 16px;
  border: 0.5px solid #dadef1;
  box-shadow: 0px 3.5px 5.5px 0px rgba(12, 26, 75, 0.07);
  background-color: #fefeff;
  display: flex;
  padding: 12px;
  flex: 1;
}

.medication-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.medication-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
}

.medication-details {
  display: flex;
  margin-top: 16px;
  width: 100%;
  flex-direction: column;
}

.medication-name {
  color: #161d44;
  font-size: 14px;
}

.medication-dosage {
  color: #637391;
  font-size: 12px;
  margin-top: 4px;
}

/* Divider */
.divider {
  aspect-ratio: 200;
  width: 100%;
  margin-top: 16px;
  border: none;
  height: 1px;
  background-color: #c5cbe4;
}

.appointments-timeline {
  display: flex;
  margin-top: 18px;
  gap: 12px;
  align-items: flex-start;
}

.timeline {
  display: flex;
  max-width: 404px;
  align-items: stretch;
  gap: 12px;
}

.timeline__visualization {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 100%; /* Adicionado para ocupar toda a altura */
}

/* Ajustar a linha tracejada para ocupar o espaço correto */
.timeline__visualization::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: 2px dashed rgba(45, 84, 223, 1);
  height: 100%;
}

.timeline__dot {
  background-color: rgba(45, 84, 223, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.timeline__dot:not(:first-child) {
  margin-top: 110px;
}

/* Timeline content */
.timeline__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  width: fit-content;
  padding-top: 0;
}

.timeline__date {
  color: rgba(71, 84, 140, 1);
  font-size: 14px;
  font-weight: 400;
  align-self: flex-start;
  height: 10px;
  display: flex;
  align-items: center;
}

.timeline__date:not(:first-child) {
  margin-top: 8px;
}

/* Adjust card spacing */
.timeline-card {
  margin-top: 8px;
  margin-bottom: 20px;
}

/* Timeline cards */
.timeline-card {
  border-radius: 16px;
  position: relative;
  display: flex;
  min-height: 73px;
  padding: 14px 12px 14px 16px;
  margin-top: 8px;
  align-items: flex-start;
  justify-content: space-between;
}

.timeline-card--purple {
  background-color: rgba(251, 243, 255, 1);
}

.timeline-card--red {
  background-color: rgba(255, 246, 245, 1);
}

.timeline-card--blue {
  background-color: rgba(241, 248, 255, 1);
}

.timeline-card__content {
  z-index: 0;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  width: 100%;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  flex: 1;
}

.timeline-card__header {
  align-self: stretch;
  margin: auto 0;
  font-weight: 400;
}

.timeline-card__title {
  color: rgba(22, 29, 68, 1);
  font-size: 14px;
}

.timeline-card__indicator {
  border-radius: 8px;
  position: absolute;
  z-index: 0;
  width: 4px;
  height: 43px;
  left: 0;
  bottom: 15px;
}

.timeline-card--purple .timeline-card__indicator {
  background-color: rgba(137, 41, 169, 1);
}

.timeline-card--red .timeline-card__indicator {
  background-color: rgba(148, 16, 29, 1);
}

.timeline-card--blue .timeline-card__indicator {
  background-color: rgba(0, 79, 146, 1);
}

/* Doctor info */
.doctor-info {
  display: flex;
  margin-top: 4px;
  width: 100%;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: rgba(99, 115, 145, 1);
}

.doctor-info__avatar {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  border-radius: 50%;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

.doctor-info__name {
  align-self: stretch;
  margin: auto 0;
  flex: 1;
}

/* Tags */
.tag {
  align-self: stretch;
  border-radius: 10000px;
  margin: auto 0;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

.tag--purple {
  background-color: rgba(243, 224, 255, 1);
  color: #8929a9;
}

.tag--red {
  background-color: rgba(255, 238, 235, 1);
  color: #94101d;
}

.tag--blue {
  background-color: rgba(209, 229, 251, 1);
  color: #004f92;
}


.step-icon-check {
  filter: invert(35%) sepia(99%) saturate(338%) hue-rotate(66deg) brightness(92%) contrast(89%);
}

/* Selected App Card */
.selected-app {
  margin-top: 32px;
}

.selected-app__title {
  font-size: 18px;
  color: #0c112f;
  font-weight: 500;
  margin: 0 0 16px;
}

.app-card {
  background-color: var(--bg-white);
  border-radius: 16px;
  padding: 24px;
}

.app-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-card__name {
  font-size: 24px;
  color: var(--text-primary);
  margin: 0;
}

.view-details-btn {
  border-radius: 10000px;
  min-height: 40px;
  padding: 10px 16px;
  font-size: 16px;
  color: #2d54df;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}
.app-card__rating {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 4px;
  padding: 4px 8px;
  background-color: #eaeefb;
  border-radius: 8px;
  width: fit-content;
}

.rating-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-value {
  color: #1b2559;
  font-weight: 500;
  font-size: 14px;
}

.rating-stars {
  display: flex;
  gap: 4px;
}

.review-count {
  color: #1b2559;
  font-size: 16px;
  font-weight: 500;
}

/* App Features */
.app-features {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 55px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--text-tertiary);
  font-size: 14px;
}

.feature img {
  width: 24px;
  height: 24px;
}

.feature-divider {
  width: 1px;
  height: 34px;
  background-color: #dadef1;
}

.platform-info {
  display: flex;
  flex-direction: column;
}

.platform-label {
  color: var(--text-secondary);
  font-size: 12px;
  text-transform: uppercase;
}

.platform-value {
  color: var(--text-tertiary);
  font-size: 14px;
}

/* Similar Apps Grid */
.similar-apps {
  margin-top: 58px;
}

.similar-apps__title {
  font-size: 18px;
  color: #0c112f;
  font-weight: 500;
  margin: 0 0 24px;
}

.cardi-app-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.app-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}

.app-number {
  width: 24px;
  height: 24px;
  background-color: #dfe5fd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #1b2559;
  text-transform: uppercase;
}

.app-icon {
  width: 56px;
  height: 56px;
  box-shadow:
    0px 0px 1px 0px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.app-details {
  display: flex;
  flex-direction: column;
}

.app-name {
  color: #0c112f;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.app-category {
  color: var(--text-tertiary);
  font-size: 14px;
  font-weight: 400;
}

.app-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: var(--text-secondary);
}

/*app card*/
.product-card {
  display: flex;
  align-items: left;
  gap: 24px;
  flex-wrap: wrap;
  height: 150px;
}

.product-image-container {
  border-radius: 32px;
  box-shadow: 0px 73px 21px rgba(59, 95, 219, 0);
  align-self: start;
  overflow: hidden;
  width: 170px;
  height: 170px;
}

.product-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 170px;
}

.product-content {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 720px;
}

@media (max-width: 991px) {
  .product-content {
    max-width: 100%;
  }
}

.product-header {
  display: flex;
  width: 100%;
  max-width: 720px;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

@media (max-width: 991px) {
  .product-header {
    max-width: 100%;
  }
}

.header-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px 100px;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 500;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .header-wrapper {
    max-width: 100%;
  }
}

.product-title {
  color: #161d44;
  font-size: 24px;
  align-self: stretch;
  margin: auto 0;
}

.view-details-button {
  border-radius: 10000px;
  align-self: stretch;
  display: flex;
  margin: auto 0;
  min-height: 40px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #2d54df;
  text-align: center;
  justify-content: center;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
}

.button-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
  filter: invert(28%) sepia(49%) saturate(5276%) hue-rotate(224deg) brightness(90%) contrast(94%);
}

.rating-container {
  border-radius: 8px;
  background-color: rgba(234, 238, 252, 1);
  align-self: start;
  position: relative;
  display: flex;
  margin-top: 4px;
  padding: 4px 8px;
  align-items: center;
  gap: 16px;
  justify-content: start;
  cursor: pointer;
}

.rating-wrapper {
  align-self: stretch;
  z-index: 0;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 4px;
  justify-content: start;
}

.rating-score {
  color: #1b2559;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  align-self: stretch;
  margin: auto 0;
}

.rating-star {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

.rating-stars {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 4px;
  justify-content: start;
}

.review-count {
  color: rgba(27, 37, 89, 1);
  font-size: 16px;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 500;
  align-self: stretch;
  z-index: 0;
  margin: auto 0;
}

.rating-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  align-self: start;
  position: absolute;
  z-index: 0;
  flex-shrink: 0;
  left: 128px;
  bottom: 4px;
  height: 20px;
}

.features-section {
  align-self: start;
  display: flex;
  margin-top: 55px;
  align-items: center;
  gap: 16px;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 500;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .features-section {
    max-width: 100%;
    margin-top: 40px;
  }
}

.feature-item {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  flex-direction: column;
  align-items: stretch;
  font-size: 14px;
  color: #47548c;
  justify-content: center;
  width: 113px;
}

.feature-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.vertical-divider {
  border-color: rgba(218, 222, 241, 1);
  border-style: solid;
  border-width: 1px;
  align-self: stretch;
  margin: auto 0;
  width: 0;
  flex-shrink: 0;
  height: 34px;
}

.platform-info {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 113px;
}

.platform-label {
  color: #637391;
  font-size: 12px;
  text-transform: uppercase;
}

.platform-devices {
  color: #47548c;
  font-size: 14px;
}


/*Modal details*/
  .modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background: white;
      width: 100%;
      max-width: 800px;
      height: 400px;
      overflow-y: auto;
      border-radius: 8px;
      position: relative;
    }

    .modal img {
      width: 100%;
      height: auto;
    }

    /* Botão para fechar */
    .close-button {
      position: absolute;
      background-color: transparent;
      top: 10px;
      right: 15px;
      color: grey;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }