* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Evita rolagem */
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 1);
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda a altura da tela */
}

/* Header styles */
.header {
  border-bottom: 1px solid #c5cbe4;
  display: flex;
  height: 68px;
  width: 100%;
  padding: 25px 32px;
  align-items: center;
  font-size: 14px;
  color: #8a8ea1;
  font-weight: 400;
  justify-content: space-between;
}

.breadcrumb {
  display: flex;
  min-width: 240px;
  margin: auto 0;
  align-items: center;
  gap: 7px;
}

.breadcrumb-item {
  align-self: stretch;
  margin: auto 0;
  color: #8a8ea1;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}


.breadcrumb-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin: auto 0;
  filter: invert(64%) sepia(5%) saturate(180%) hue-rotate(200deg);
}


.breadcrumb-current {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 7px;
  color: #161d44;
  font-weight: 500;
  justify-content: start;
}

.breadcrumb-item-current {
  align-self: stretch;
  margin: auto 0;
}

.breadcrumb-text {
  margin: auto 0;
}

.breadcrumb-item.active {
  color: #161d44;
  font-weight: 500;
}

/* Main content layout */
.main-content {
  width: 100%;
  height: 100vh; /* Para garantir que o layout geral ocupa a tela */
}

.content-wrapper {
  display: flex;
  gap: 0px;
  height: 100%; /* Garante que o content-wrapper ocupe toda a altura */
}


/* Assessment column */
.assessment-column {
  display: flex;
  flex-direction: column;
  width: 67%;
  margin-top: 24px;
  height: 100%;
}

.assessment-content {
  display: flex;
  width: 100%;
  height: 565px;
  padding: 0 0px 0 32px;
  flex-direction: column;
}

/* Stepper component */
.stepper {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: #161d44;
  font-weight: 500;
  flex-wrap: wrap;
}

.step {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  justify-content: start;
}

.step-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 22px;
  margin: auto 0;
  height: 20px;
}

.step-label {
  margin: auto 0;
}

.step-divider {
  border: 1px solid #637391;
  margin: auto 0;
  width: 88px;
  height: 1px;
}

.step-divider.completed {
  border-color: #161d44;
}

.step-circle {
  background-color: #f2f5fd;
  border: 1px dashed #637391;
  border-radius: 50%;
  display: flex;
  margin: auto 0;
  width: 20px;
  height: 20px;
}

.step.active {
  color: #161d44;
  font-weight: 500;
}

.step.pending {
  color: #637391;
  font-weight: 400;
}

/* Section titles */
.section-title {
  margin-top: 26px;
}

.title {
  color: #0c112f;
  font-size: 24px;
  font-weight: 500;
}

.subtitle {
  color: #637391;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

/* Selection options */
.selection-options {
  margin-top: 16px;
}

.selection-row {
  display: flex;
  gap: 20px;
}

.selection-column {
  flex: 1;
}

.search-container {
  margin-top: 16px;
  width: 376px;
  max-width: 100%;
  font-size: 14px;
  color: #8a8ea1;
  font-weight: 400;
}

.search-field {
  width: 100%;
}

.search-content {
  border-radius: 8px;
  background-color: #fefeff;
  border: 1px solid #c5cbe4;
  display: flex;
  height: 48px;
  width: 100%;
  padding: 14px 16px;
  align-items: center;
  gap: 10px;
}

.search-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  margin: auto 0;
  flex-shrink: 0;
}

.search-input {
  align-self: stretch;
  min-width: 240px;
  margin: auto 0;
  gap: 8px;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  border: none;
  background: transparent;
  color: #8a8ea1;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 14px;
  outline: none;
}

/*Applications content*/
.applications-content {
  flex-grow: 1; /* Faz a div ocupar todo o espaço restante */
  overflow-y: auto; /* Habilita a rolagem vertical */
  margin-top: 0;
  padding: 0px 8px 0px 0px; /* Espaçamento interno */
  height: 380px; /* Ajuste conforme necessário */
  position: relative;
  background-color: rgba(249, 249, 249, 1); /* Garante que o fundo tenha cor */
}

.applications-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Altura do fade */
  background: linear-gradient(to bottom, rgba(249, 249, 249, 1), rgba(249, 249, 249, 0));
  z-index: 1; /* Garante que fique sobre o conteúdo */
  pointer-events: none;
}


.applications-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Altura do fade */
  background: linear-gradient(to top, rgba(249, 249, 249, 1), rgba(249, 249, 249, 0));
  z-index: 1;
  pointer-events: none;
}

/* App grid */
.app-grid {
  margin-top: 25px;
  width: 100%;
}

.app-grid-row {
  display: flex;
  gap: 20px;
}

.app-card {
  width: 33%;
}

.app-image-container {
  border-radius: 16px;
  box-shadow:
    0px 0px 1px 0px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.app-image {
  aspect-ratio: 2.16;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.app-info {
  display: flex;
  margin-top: 8px;
  width: 100%;
  align-items: flex-start;
  gap: 8px;
  font-weight: 500;
}

.app-rank {
  border-radius: 10000px;
  background-color: #dfe5fd;
  min-height: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #1b2559;
  text-transform: uppercase;
}

.app-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.app-name {
  color: #0c112f;
  font-size: 14px;
  font-weight: 500;
}

.app-category {
  color: #47548c;
  font-weight: 400;
}

.app-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #637391;
}

.rating-value {
  margin: auto 0;
}

.rating-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
}

/* App list */
.app-list {
  margin-top: 16px;
  width: 100%;
  font-weight: 500;
}

.app-list-row {
  display: flex;
  min-height: 72px;
  width: 100%;
  padding: 8px 0;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.app-list-item {
  display: flex;
  min-width: 240px;
  margin: auto 0;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.app-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 56px;
  box-shadow:
    0px 0px 1px 0px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  margin: auto 0;
  flex-shrink: 0;
}


/* Navigation buttons */
.navigation-buttons {
  border-top: 1px solid #c5cbe4;
  display: flex;
  width: 100%;
  height: 60hv;
  padding: 16px 32px;
  align-items: center;
  gap: 100px;
  font-weight: 500;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  bottom: 0;
  background-color: rgba(249, 249, 249, 1);
}


.btn {
  border-radius: 10000px;
  display: flex;
  height: 40px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.btn-outline {
  border: 2px solid #2d54df;
  color: #2d54df;
  background-color: transparent;
}

.btn-disabled {
  background-color: #c5cbe4;
  border: 1px solid #c5cbe4;
  color: #fff;
  cursor: not-allowed;
}

.btn-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
}

.next.active {
  background-color: blue;
  cursor: pointer;
  opacity: 1;
}


/* Patient sidebar */
.patient-sidebar {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 90vh;
  background-color: #fefeff;
}

.patient-profile {
  border-left: 1px solid #c5cbe4;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.patient-header {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 24px;
  color: #0c112f;
  font-weight: 500;
  gap: 16px;
  padding: 24px 40px 0px 40px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
.patient-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.patient-name {
  margin-top: 0;
  text-align: center;
  font-size: 24px;
}

.details-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 24px 56px 24px 40px;
  text-align: center;
  background: white;
  position: sticky;
  top: 100px;
  z-index: 2;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #161d44;
  margin-bottom: 8px;
}


.detail-item:last-child {
  margin-bottom: 0;
}

.detail-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
}

.detail-content {
  display: flex;
  min-width: 240px;
  margin: auto 0;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.detail-label {
  font-weight: 500;
}

.detail-value {
  font-weight: 400;
}

.patient-details {
  display: flex;
  width: 100%;
  padding: 0 40px;
  flex-direction: column;
  border-left: 1px solid #c5cbe4;
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}


/* Medication section */
.medication-section {
  width: 100%;
  font-weight: 500;
}

.section-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.applications-header {
  display: collum;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.section-title {
  font-size: 18px;
  color: #0c112f;
}

.view-details-btn {
  border-radius: 10000px;
  min-height: 40px;
  padding: 10px 16px;
  font-size: 16px;
  color: #2d54df;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

.medication-list {
  display: flex;
  margin-top: 8px;
  width: 100%;
  gap: 16px;
}

.medication-card {
  border-radius: 16px;
  border: 0.5px solid #dadef1;
  box-shadow: 0px 3.5px 5.5px 0px rgba(12, 26, 75, 0.07);
  background-color: #fefeff;
  display: flex;
  padding: 12px;
  flex: 1;
}

.medication-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.medication-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
}

.medication-details {
  display: flex;
  margin-top: 16px;
  width: 100%;
  flex-direction: column;
}

.medication-name {
  color: #161d44;
  font-size: 14px;
}

.medication-dosage {
  color: #637391;
  font-size: 12px;
  margin-top: 4px;
}

/* Divider */
.divider {
  aspect-ratio: 200;
  width: 100%;
  margin-top: 16px;
  border: none;
  height: 1px;
  background-color: #c5cbe4;
}

.appointments-timeline {
  display: flex;
  margin-top: 18px;
  gap: 12px;
}

.timeline-indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-dot {
  background-color: #2d54df;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.timeline-connector {
  margin: 6px 0;
  height: 6px;
}

.timeline-content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.appointment {
  margin-bottom: 29px;
}

.appointment:last-child {
  margin-bottom: 0;
}

.appointment-date {
  color: #47548c;
  font-size: 14px;
  font-weight: 400;
}

.appointment-card {
  border-radius: 16px;
  position: relative;
  display: flex;
  margin-top: 8px;
  min-height: 73px;
  width: 100%;
  padding: 14px 12px 14px 16px;
  align-items: flex-start;
  justify-content: space-between;
}

.appointment-card.purple {
  background-color: #fbf3ff;
}

.appointment-card.red {
  background-color: #fff6f5;
}

.appointment-card.blue {
  background-color: #f1f8ff;
}

.appointment-details {
  z-index: 0;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.appointment-info {
  margin: auto 0;
  font-weight: 400;
}

.appointment-title {
  color: #161d44;
  font-size: 14px;
  font-weight: 400;
}

.doctor-info {
  display: flex;
  margin-top: 4px;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #637391;
}

.doctor-avatar {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  border-radius: 50%;
}

.doctor-name {
  flex: 1;
}

.appointment-tag {
  border-radius: 10000px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
}

.appointment-tag.purple {
  background-color: #f3e0ff;
  color: #8929a9;
}

.step-icon-check {
  filter: invert(35%) sepia(99%) saturate(338%) hue-rotate(66deg) brightness(92%) contrast(89%);
}
